
location            = "eastus"
resource_group_name = "rg-swift-writer-prod"

acr_name = "swiftwriteracrYOURSUFFIX"

storage_account_name = "swiftarticlesyoursuffix"

container_app_environment_name = "swift-cae"
backend_app_name               = "swift-backend"
frontend_app_name              = "swift-frontend"

backend_image = "swiftwriteracrYOURSUFFIX.azurecr.io/swift-backend:1.0.0"

frontend_image = ""

